@page "/FetchCars"
@using Caarro.Data
@inject VehicleService VehicleService

<PageTitle>FetchCars</PageTitle>

<h1>Fetch Cars</h1>

<p>This shows cars</p>

@if (_vehicles is null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Model</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var vehicle in _vehicles)
        {
            <tr>
                <td>@vehicle.Name</td>
                <td>@vehicle.Manufacturer</td>
                <td>@vehicle.Model</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<Vehicle>? _vehicles;

    protected override async Task OnInitializedAsync()
    {
        _vehicles = await VehicleService.GetAllVehicles();
    }
}