@page "/"
@using Caarro.Data
@using Caarro.Services
@inject NavigationManager _NavigationManager
@inject VehicleService _VehicleService

@code {
    private List<Vehicle?>? _vehicles;

    protected override async Task OnInitializedAsync()
    {
        _vehicles = await _VehicleService.GetAllVehiclesAsync();
    }
}

<PageTitle>Caarro</PageTitle>

<h1>Your Cars</h1>

<p>This shows cars</p>

@if (_vehicles is null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Model</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var vehicle in _vehicles)
        {
            <tr>
                <td><a href="/Car/@vehicle!.Id">@vehicle.Name</a></td>
                <td>@vehicle.Manufacturer</td>
                <td>@vehicle.Model</td>
            </tr>
        }
        </tbody>
    </table>
}
