@page "/refueling/{CarId:int}"
@using Caarro.Data
@using Caarro.Service
@using Microsoft.Extensions.Logging
@inject NavigationManager _NavigationManager
@inject RefuelingService _RefuelingService
@inject ILogger<Refueling> _Log

<PageTitle>Caarro - Refueling</PageTitle>

@if (_refueling is null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Odometer</th>
            <th>Price</th>
        </tr>
        </thead>
        @foreach (var refueling in _refueling)
        {
            <tr>
                <td><a href="/refueling/@refueling.VehicleId/edit/@refueling.Id">@refueling.Date</a></td>
                <td>@refueling.Odometer</td>
                <td>@refueling.Price</td>
            </tr>
        }
    </table>
    <button onclick="@NewRefueling">New Refueling</button>
}

@code {
    [Parameter]
    public int CarId { get; set; }

    private List<Refueling?>? _refueling;

    private void NewRefueling()
    {
        _NavigationManager.NavigateTo($"/refueling/{CarId}/new");
    }

    protected override async Task OnInitializedAsync()
    {
        _refueling = await _RefuelingService.GetAllRefuelingsAsync(CarId);
    }
}
